body {
    padding: 1;
    margin: 10;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #ffffff;
  }

  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(118, 238, 184);
    text-align: center;
  }

  
  h2 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(118, 238, 184);
    text-align: center;
  }
  
  figure > img{
    display:inline-block;
    width 3px;
  }

.navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(237, 237, 237);
    border-radius: 3px;
}